START_BLOCK=10000000
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=your_password
DB_NAME=starknet_indexer

AUTH_TOKEN=
# POSTGRES_CONNECTION_STRING=

STREAM_URL= "https://sepolia.starknet.a5a.ch"